<?xml version="1.0"?>
<launch>

	<!-- Desired frequency -->
	<arg name="desired_freq" default="1.0" />
	<!-- Parameters -->
	<arg name="log_topic" default="robotnik_hmi/log" />

	<!-- start LogToCsv node -->
	<node name="log_to_csv" pkg="robotnik_log_to_csv" type="log_to_csv_node.py" output="screen" respawn="false">
		<param name="desired_freq" value="$(arg desired_freq)"/>
		<param name="log_topic" value="$(arg log_topic)"/>
	</node>

</launch>
